.welcome-container {
    display: flex;
    flex-direction: column;  
    justify-content: center;  
    align-items: center; 
    height: 100vh;  
    padding: 2rem;  
    text-align: center;  
}

/* Style for the welcome text */
.welcome-text {
    font-size: 2rem;  
    text-align: center;
    color: #226f54;  
    margin-bottom: 2rem; 
    margin: 2rem 0;
}